baloofilerc
dconf
discord
dolphinrc
Electron
gamemode.ini
gh
glib-2.0
gnome-session
gtk-3.0
ibus
kde.org
mimeapps.list
mpv
nautilus
nemo
procps
pulse
QtProject.conf
session
systemd
trashrc
Unknown Organization
user-dirs.dirs
user-dirs.locale
zoom.conf
zoomus.conf
obsidian
